.profile-container {
    padding-top: 80px;
    position: relative;
    background-color: rgb(247, 242, 238);
}

@media only screen and (max-width: 991px) {
    .profile-container {
        padding-top: 66px;
    }
}

.profile-container::after {
    content: "";
    position: absolute;
    inset: 0px 0px 0px 50%;
    background-color: rgb(255, 255, 255);
    z-index: 0;
}

.profile-container .center {
    background-color: rgb(255, 255, 255);
    min-height: calc(100vh - 188px);
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    width: 1295px;
    max-width: 100%;
}

.profile-container .left-container {
    background-color: rgb(247, 242, 238);
    float: left;
    padding: 34px 0px 34px 20px;
    width: 310px;
    vertical-align: top;
}

@media only screen and (max-width: 930px) {
    .profile-container .left-container {
        width: 250px;
    }
}

@media only screen and (max-width: 700px) {
    .profile-container .left-container {
        position: relative;
        float: none;
        width: 100%;
        padding: 20px 20px 0px;
    }
}

.profile-container .right-container {
    background-color: rgb(255, 255, 255);
    padding: 30px;
    float: left;
    width: calc(100% - 310px);
    position: relative;
}

@media only screen and (max-width: 930px) {
    .profile-container .right-container {
        width: calc(100% - 250px);
    }
}

@media only screen and (max-width: 830px) {
    .profile-container .right-container {
        padding: 30px 10px;
    }
}

@media only screen and (max-width: 700px) {
    .profile-container .right-container {
        display: block;
        float: none;
        width: 100%;
    }
}


.profile-container .profile-content .avatar-content {
    padding-bottom: 15px;
    width: 100%;
    display: flex;
    align-items: center;
}

.profile-container .profile-content.club-content .avatar-content {
    flex-direction: column;
    align-items: flex-start;
}

.profile-container .list-user-menu {
    padding: 10px 30px 0px 0px;
}

.profile-container .list-user-menu.invite-menu {
    display: none;
}

.profile-container .list-user-menu .item {
    padding: 10px 0px;
}

.profile-container .list-user-menu .item a,
.profile-container .list-user-menu .item span {
    border-left: 2px solid rgba(0, 0, 0, 0);
    color: rgb(74, 70, 69);
    display: block;
    font-size: 0.8125rem;
    padding-left: 13px;
}

.profile-container .list-user-menu .item a.active,
.profile-container .list-user-menu .item span.active {
    border-color: rgb(44, 40, 39);
    font-family: "Roboto Bold", sans-serif;
}

.profile-container .list-user-menu .item .text-gray {
    color: rgb(164, 161, 155);
    font-size: 0.8125rem;
    padding-left: 15px;
}

@media only screen and (max-width: 700px) {
    .profile-container .list-user-menu {
        padding: 0px;
    }

    .profile-container .list-user-menu.invite-menu {
        display: block;
        padding-bottom: 15px;
    }

    .profile-container .list-user-menu .list {
        display: flex;
        flex-direction: column;
    }

    .profile-container .list-user-menu .item {
        display: flex;
        padding: 0px;
        height: 30px;
        align-items: center;
    }

    .profile-container .list-user-menu .item a,
    .profile-container .list-user-menu .item span {
        border-left: 2px solid rgba(0, 0, 0, 0);
        border-radius: 2px;
        line-height: 20px;
    }

    .profile-container .list-user-menu .item a.active,
    .profile-container .list-user-menu .item span.active {
        border-color: rgb(44, 40, 39);
        font-family: "Roboto Bold", sans-serif;
    }

    .profile-container .list-user-menu .item a.link-open-invite-block,
    .profile-container .list-user-menu .item span.link-open-invite-block {
        font-family: "Roboto Bold", sans-serif;
        text-decoration: underline;
        cursor: pointer;
    }
}

.block-main-header .block-header {
    padding: 10px 30px 30px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

@media only screen and (max-width: 830px) {
    .block-main-header .block-header {
        padding: 10px 10px 30px;
    }
}

@media only screen and (max-width: 700px) {
    .block-main-header .block-header {
        padding: 0px 10px 30px;
    }
}

.block-main-header .block-title {
    font-size: 0.9375rem;
    font-weight: 400;
    text-transform: uppercase;
}

.block-main-header .block-title .ficon {
    margin-right: 8px;
}

.block-main-header .block-title .text-gray {
    color: rgb(102, 102, 102);
    text-transform: none;
    padding-left: 10px;
}

@media only screen and (max-width: 768px) {
    .block-main-header .block-title .text-gray {
        display: block;
        padding-top: 5px;
    }
}

@media only screen and (max-width: 768px) {
    .block-main-header .block-title {
        font-size: 0.8125rem;
    }
}

@media only screen and (max-width: 700px) {
    .block-main-header .block-title {
        font-size: 0.9375rem;
    }
}

.block-my-clubs {
    position: relative;
    min-height: 250px;
}