.home-container .block-signup-club .block-title {
    width: 810px;
    max-width: 100%;
    margin: 0 auto;
    line-height: 1.5 !important;
    padding-bottom: 0 !important
}

.home-container .block-container {
    padding: 45px 0 30px
}

.home-container .block-container .block-title {
    font-size: 32px;
    font-size: 2rem;
    line-height: 1.4;
    letter-spacing: -.02em;
    font-family: "Merriweather", serif;
    font-weight: 300;
    text-align: center;
    max-width: calc(100% - 30px);
    margin: 0 auto
}

@media only screen and (max-width:991px) {
    .home-container .block-container .block-title {
        font-size: 28px;
        font-size: 1.75rem
    }
}

@media only screen and (max-width:767px) {
    .home-container .block-container .block-title {
        font-size: 24px;
        font-size: 1.5rem
    }
}

@media only screen and (max-width:480px) {
    .home-container .block-container .block-title {
        white-space: pre-wrap;
        width: 250px
    }
}

@media only screen and (max-width:767px) {
    .home-container .block-container {
        padding: 35px 0 25px
    }
}
.home-container .block-features,
.home-container .how-it-work {
    background-color: #fff;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px
}

.home-container .block-features .mtr-button,
.home-container .how-it-work .mtr-button {
    max-width: calc(100% - 30px)
}

@media only screen and (max-width:480px) {

    .home-container .block-features .mtr-button,
    .home-container .how-it-work .mtr-button {
        width: 250px;
        border-radius: 400px
    }
}

.home-container .block-features .btn-wrap,
.home-container .how-it-work .btn-wrap {
    padding-top: 30px
}

@media only screen and (max-width:767px) {

    .home-container .block-features .btn-wrap,
    .home-container .how-it-work .btn-wrap {
        padding-top: 0
    }
}

.home-container .block-features .list-media,
.home-container .how-it-work .list-media {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.home-container .block-features .list-media .content,
.home-container .how-it-work .list-media .content {
    min-width: 33.3333333%;
    width: 33.3333333%
}

@media only screen and (max-width:991px) {

    .home-container .block-features .list-media .content,
    .home-container .how-it-work .list-media .content {
        min-width: 50%;
        width: 50%
    }
}

@media only screen and (max-width:767px) {

    .home-container .block-features .list-media .content,
    .home-container .how-it-work .list-media .content {
        min-width: 100%;
        width: 100%
    }
}

.home-container .block-features .content img,
.home-container .how-it-work .content img {
    display: inline-block;
    max-width: 100%;
    height: auto
}

@media only screen and (max-width:767px) {

    .home-container .block-features .content img,
    .home-container .how-it-work .content img {
        width: 250px
    }
}

.home-container .block-features .description,
.home-container .how-it-work .description {
    font-size: 20px;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.5;
    padding-top: 40px;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%
}

@media only screen and (max-width:991px) {

    .home-container .block-features .description,
    .home-container .how-it-work .description {
        font-size: 18px;
        font-size: 1.125rem
    }
}
.home-container .block-features .slight-text,
.home-container .how-it-work .slight-text {
    font-size: 20px;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.5;
    padding-top: 10px;
    padding-bottom: 60px
}

@media only screen and (max-width:991px) {

    .home-container .block-features .slight-text,
    .home-container .how-it-work .slight-text {
        font-size: 18px;
        font-size: 1.125rem
    }
}

@media only screen and (max-width:767px) {

    .home-container .block-features .slight-text,
    .home-container .how-it-work .slight-text {
        font-size: 16px;
        font-size: 1rem
    }
}

@media only screen and (max-width:480px) {

    .home-container .block-features .slight-text,
    .home-container .how-it-work .slight-text {
        width: 250px;
        margin: 0 auto
    }
}
.block-features .list-media {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 40px;
    width: 926px !important;
    max-width: 100%;
    margin: 0 auto
}

@media only screen and (max-width:767px) {
    .block-features .list-media {
        padding-bottom: 0
    }
}

.block-features .list-media .content {
    width: 33.33333333%
}

@media only screen and (max-width:991px) {
    .block-features .list-media .content {
        width: 50%
    }
}

@media only screen and (max-width:480px) {
    .block-features .list-media .content {
        width: 100%
    }
}

.block-features .block-title {
    padding-bottom: 60px !important
}

@media only screen and (max-width:1024px) {
    .block-features .block-title {
        padding-bottom: 35px
    }
}

.block-features .content img {
    max-width: 204px !important
}