
.club-content .club-info {
    clear: both;
    padding-top: 25px
}

@media only screen and (max-width:700px) {
    .club-content .club-info {
        clear: none;
        padding-top: 10px;
        padding-left: 10px;
        overflow: hidden
    }
}